@font-face {
	font-family: 'TT Lakes';
	src: url('fonts/TTLakes-Regular.eot');
	src: url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/TTLakes-Regular.woff') format('woff'),
	url('fonts/TTLakes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'TT Lakes';
	src: url('fonts/TTLakes-Medium.eot');
	src: url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/TTLakes-Medium.woff') format('woff'),
	url('fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	}

@font-face {
	font-family: 'TT Lakes';
	src: url('fonts/TTLakes-Bold.eot');
	src: url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/TTLakes-Bold.woff') format('woff'),
	url('fonts/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	}


body {	
	font-family: 'TT Lakes', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.wrapper {
	width: 100vw;
	min-height: 535px;
}

.header {
	height: 88px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 8px;
}

.upper-button {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: #fff;
	padding: 0;
	margin: 0 8px;
	cursor: pointer;
}

.logo {
	flex-grow: 1;
	margin: 0 8px;
	height: 51px;
	margin: 0 8px;
}

.support {
	display: none;
}

.order {
	padding: 0;
	list-style: none;
	display: flex;
}

.order::before {
	content: '';
	display: block;
	width: 2px;
	height: 32px;
	background: #EAEAEA;
	transform: translate(-10px, 4px);
}

.upper-button--burger {
	background-image: url('icons/burger.svg');
}

.upper-button--call {
	background-image: url('icons/call.svg');
}

.upper-button--chat {
	background-image: url('icons/chat.svg');
}

.upper-button--profile {
	background-image: url('icons/profile.svg');
}

.upper-button--repair {
	background-image: url('icons/repair.svg');
}

.upper-button--checkstatus {
	background-image: url('icons/checkstatus.svg');
}

.main {
	padding: 24px 0 0 0;
	background-color: #f8f8f8;
}

.main__h1 {
	display: flex;
	font-weight: bold;
	font-size: 28px;
	line-height: 40px;
	margin-top: 0;
}

.main__h1::before {
	content: '';
	display: block;
	width: 4px;
	height: 40px;
	background: #41f6d7;
	border-radius: 0 4px 4px 0;
	margin-right: 12px;
}


.main__nav {
	margin-left: 16px;
	position: relative;
}

.main__items {
	display: flex;
	overflow: auto;
	list-style: none;
	padding: 0;
}

.main__nav-link {
	display: block;
	align-items: center;
	white-space: nowrap;
	padding: 8px 16px;
	height: 40px;
	text-decoration: none;
	font-size: 16px;
	color: #7E7E82;
	border: 2px solid rgba(0, 0, 0, .0);
}

.main__nav-link:focus, .main__nav-link:hover {
	border-radius: 6px;
	background: #FFFFFF;
	border: 2px solid #B8FFEC;
}


/* .main__nav::after {
	content: '';
	display: block;
	width: 24px;
	height: 40px;
	background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
	transform: translate(280px, -56px);
} */

.main__content {
	display: flex;
	flex-direction: column;
}

.main__descr {
	width: 95%;
	min-height: 90px;
	font-size: 14px;
	margin: 0 16px;
}

.main__text {
	margin: 0;
}

.main__text--768 {
	display: none;
}

.main__text--1120 {
	display: none;
}

.main__descr-link {
	display: block;
	margin-left: 20px;
	padding-top: 16px;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color:#1B1C21;
}

.main__descr-link::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 11px;
	transform: translateX(-12px);
	background-image: url('icons/read_more.svg');
}

.main__picture {
	display: block;
	margin: 0 auto;
	margin-top: 1em;
	max-width: 100%;
}


@media (min-width: 768px) {

	.header {
		padding: 0 14px;
	}

	.upper-button--burger {
		margin: 0 10px;
	}

	.logo {
		margin-left: 16px;
		transform: translate(16px, -32px);
	}

	.logo::before {
		content: '';
		margin-left: 16px;
		display: block;
		width: 2px;
		height: 32px;
		background: #EAEAEA;
		transform: translate(-38px, 40px);
	}

	.support {
		display: flex;
		margin-right: 22px;
		list-style: none;
	}

	.upper-button--repair:first-of-type {
		margin-left: 10px;
	}

	.main__h1::before {
		margin-right: 20px;
	}

	.main__nav {
		margin-left: 24px;
	}

	.main__items {
		flex-wrap: wrap;
	}

	.main__content {
		flex-direction: row;
		padding: 20px 0;
	}

	.main__descr {
		margin: 0 24px;
		width: 50%;
	}

	.main__text--768 {
		display: block;
		margin-top: 1.5em;
	}

	.main__picture {
		margin: 0 24px;
		width: 50%;
		border-radius: 5px;
	}

}

@media (min-width: 1120px) {

	.header {
		position: absolute;

		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}

	.burger {
		display: none;
	}

	.logo {
		display: none;
	}

	.support {
		display: none;
	}

	.upper-button--repair {
		margin-right: 148px;
	}

	.order {
		position: absolute;
		left: 842px;
		top: 4px;
	}

	.order::before {
		display: none;
	}

	.order__item:first-of-type::before {
		content: 'Оставить заявку';
		white-space: nowrap;
		display: block;
		transform: translate(-133px, 31px);
	}

	.order__item:last-of-type::before {
		content: 'Статус ремонта';
		width: 119px;
		height: 24px;
		white-space: nowrap;
		display: block;
		transform: translate(-118px, 31px);
	}

	.main {
		padding-top: 42px;
		height: 535px;
	}

	.main__items {
		flex-wrap: wrap;
	}

	.main__descr {
		margin-top: 1em;
	}

	.main__picture {
		width: 532px;
		margin-right: 29px;
		border-radius: 6px;
	}
}
