//colors
$main: #F8F8F8;
$back: #FFFFFF;
$text-main: #1B1C21;
$text-second: #7E7E82;
$text-form: #B5B6BC;
$button: #FF3E79;
$pseudo: #EAEAEA;
$pseudo-second: #41f6d7;
$main-border: #B8FFEC;

//resolution
$mobile: 320px;
$wide-mobile: 360px;
$tablet: 768px;
$desktop: 1120px;
$wide-desktop: 1440px;